@import './components/Layout.css';
@import './pages/chat.css';
@import './pages/home.css';
@import './pages/notfound.css';






/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');













/* стили для фона */

body {
  background: #141416; /* как на скрине — глубокий тёмный фон */
  color: #f0f0f0;
  font-family: 'Segoe UI', Roboto, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;

}






